## Replace Null for Int or Float

In [1]:
import anoapycore as ap

In [2]:
ap.version()

'0.1.11'

In [3]:
# original file : https://www.kaggle.com/c/titanic/data
v_data_1 = ap.data.load.csv("D:/_data/titanic/train.csv")

In [4]:
v_data_2 = ap.data.copy(v_data_1)

In [5]:
ap.data.dimension(v_data_1)

891 rows x 12 columns

In [6]:
ap.data.sample(v_data_1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
ap.data.null.count(v_data_1)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [8]:
help(ap.data.null.count)

Help on function count in module anoapycore.data.null:

count(a_data)
    Count null in dataframe.
    You can also use a_data[a_column] or a_data[[a_column1,a_column2,...]]

In [9]:
ap.data.null.count(v_data_1['Age'])

177

In [10]:
ap.data.null.count(v_data_1[['Age','Cabin']])

Age      177
Cabin    687
dtype: int64

In [11]:
ap.data.info(v_data_1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

### Replace Null with Mean

In [12]:
ap.data.stat.desc(v_data_1['Age'])

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

In [13]:
ap.data.null.replace(a_data=v_data_1,a_column='Age',b_method='mean')

In [14]:
ap.data.stat.desc(v_data_1['Age'])

count    891.000000
mean      29.699118
std       13.002015
min        0.420000
25%       22.000000
50%       29.699118
75%       35.000000
max       80.000000
Name: Age, dtype: float64

### Replace Null with Median

In [15]:
ap.data.stat.desc(v_data_2['Age'])

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

In [16]:
ap.data.null.replace(a_data=v_data_2,a_column='Age',b_method='median')

In [17]:
ap.data.stat.desc(v_data_2['Age'])

count    891.000000
mean      29.361582
std       13.019697
min        0.420000
25%       22.000000
50%       28.000000
75%       35.000000
max       80.000000
Name: Age, dtype: float64