In [1]:
import anoapycore as ap

In [2]:
import pandas as pd

In [3]:
# original data : https://gist.github.com/Harsh-Git-Hub/2979ec48043928ad9033d8469928e751
v_data = ap.data.load.csv("../data/retail/retail.csv")

In [4]:
ap.data.sample(v_data)

        0       1     2       3       4       5       6
0   Bread    Wine  Eggs    Meat  Cheese  Pencil  Diaper
1   Bread  Cheese  Meat  Diaper    Wine    Milk  Pencil
2  Cheese    Meat  Eggs    Milk    Wine     NaN     NaN
3  Cheese    Meat  Eggs    Milk    Wine     NaN     NaN
4    Meat  Pencil  Wine     NaN     NaN     NaN     NaN

In [5]:
ap.data.dimension(v_data)

315 rows x 7 columns

In [6]:
ap.data.value.unique(v_data)

array(['Bread', 'Cheese', 'Meat', 'Eggs', 'Wine', 'Bagel', 'Pencil',
       'Diaper', 'Milk'], dtype=object)

In [7]:
ap.data.column.value.null.count(v_data)

0      0
1     30
2     70
3    128
4    182
5    244
6    274
dtype: int64

In [8]:
v_data_to_model = ap.data.value.one_hot_encoding(v_data)

In [9]:
ap.data.sample(v_data_to_model)

   Milk  Bagel  Cheese  Diaper  Meat  Wine  Bread  Pencil  Eggs
0     0      0       1       1     1     1      1       1     1
1     1      0       1       1     1     1      1       1     0
2     1      0       1       0     1     1      0       0     1
3     1      0       1       0     1     1      0       0     1
4     0      0       0       0     1     1      0       1     0

In [10]:
ap.data.dimension(v_data_to_model)

315 rows x 9 columns

In [11]:
v_model = ap.ml.association.apriori.run(a_data=v_data_to_model,b_min_support=0.3,b_min_confidence=0.5)

Processing 3 combinations | Sampling itemset size 3

In [12]:
v_model.freq_items

     support        itemsets
0   0.501587          (Milk)
1   0.425397         (Bagel)
2   0.501587        (Cheese)
3   0.406349        (Diaper)
4   0.476190          (Meat)
5   0.438095          (Wine)
6   0.504762         (Bread)
7   0.361905        (Pencil)
8   0.438095          (Eggs)
9   0.304762  (Milk, Cheese)
10  0.323810  (Cheese, Meat)

In [13]:
v_model.rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Milk),(Cheese),0.501587,0.501587,0.304762,0.607595,1.211344,0.053172,1.270148
1,(Cheese),(Milk),0.501587,0.501587,0.304762,0.607595,1.211344,0.053172,1.270148
2,(Cheese),(Meat),0.501587,0.476190,0.323810,0.645570,1.355696,0.084958,1.477891
3,(Meat),(Cheese),0.476190,0.501587,0.323810,0.680000,1.355696,0.084958,1.557540

In [14]:
# Support is a fraction of transactions that contain an itemset.
# Confidence is the likelihood that item Y is also bought if item X is bought.